# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
*.log

# IDEs / editors
.vscode/
.idea/

# Environment variables
.env

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
